# Default ignored files
/../../../Registry/.idea/shelf/
/../../../Registry/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Registry/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Registry/.idea/dataSources/
/../../../Registry/.idea/dataSources.local.xml
